dcon/
htop/
pulse/
Vencord/
yay/
pavucontrol.ini
user-dirs.dirs
user-dirs.local
EOS-greeter.conf
quickshell/
neofetch/
session/
kde.org/
dolphinrc/
discord/
beekeeper-studio/
dconf/
nextjs-nodejs/
pipewire/
